<link rel="stylesheet" href="/public/stylesheets/admin-order.css">
{{> admin-nav}}
<div class="main-container" style="height:100vh">
    <aside class="aside" style="position: fixed;  padding-top:5rem;">
        <a href="/admin/admin-dash" class="admin-dash p-5"><i class="fa-solid fa-table-columns"></i>dashboard</a>
        <a href="/admin/category" class="admin-dash p-5"><i class="fa-solid fa-user"></i>categories</a>
        <a href="/admin/products" class="admin-dash p-5"><i class="fa-solid fa-bag-shopping"></i>products</a>
        <a href="" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip"></i></i>coupons</a>
        <a href="/admin/admin-order" class="admin-dash p-5"><i class="fa-solid fa-cart-flatbed-suitcase"></i>orders</a>
        <a href="/admin/admin-user" class="admin-dash p-5"><i class="fa-solid fa-users"></i>users</a>
        <a href="/admin/logout" class="logout-button">logout</a>
    </aside>



    {{!--
    <section class="userorder-container mt-5" id="order">
        <h1 style="display: flex; justify-content:center; align-items:center; color: #8AAAE5">MY ORDERS</h1><br>
        <hr>
        <div class="one">
            {{#each order}}
            ORDERED TIME: <h4 class="date">{{createdAt}}</h4>
            <div class="my-details-order">
                <div class="order-shipping-address">
                    ADDRESS: <h4>{{shippingInfo.houseName}}</h4>
                    PHONE: <h4>{{shippingInfo.phone}}</h4>
                    PINCODE: <h4> {{shippingInfo.postalCode}}</h4>
                    COUNTRY: <h4>{{shippingInfo.city}},{{shippingInfo.state}} , {{shippingInfo.coutry}}</h4>
                </div>
                <div class="order-payment-mode">
                    ORDER STATUS:
                    {{#if isReturnStatus}}
                    <h4>Returned</h4>
                    {{else}}
                    {{#if isDelivered}}
                    <h4>Delivered</h4>
                    {{else}}
                    {{#if isCancelled}}
                    <h4>Cancelled</h4>
                    {{else}}
                    <h4>Processing</h4>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                </div>
                <div class="order-payment-status">
                    PAYMENT METHOD:
                    <h4>{{paymentMode}}</h4>
                </div>
                <div class="order-total">
                    TOTAL AMOUNT:
                    <h4>RS.{{totalAmount}}/-</h4>
                </div>
                {{#if isReturn}}
                <div class="order-return">
                    <a class="btn btn-warning approve-return success" data-url="{{id}}">Approve Return</a>
                </div>
                <div class="order-refund mt-2">
                    <a class="btn btn-danger decline-return success" data-url="{{id}}">Decline Return</a>
                </div>
                {{#if isReturnStatus}}
                <strong style="color: red;">ReturnSuccessfull</strong><br>
                <div class="order-return">
                    <a class="btn btn-warning approve-refund success" data-url="{{id}}">Approve Refund</a>
                </div>
                {{#if isRefundStatus}}
                <strong style="color: red;">RefundSuccessfull</strong>
                {{else}}


                {{/if}}
                {{else}}

                {{/if}}
                {{/if}}
                <div class="order-cancel">
                    {{#if isDelivered }}
                    <a class="success">Delivered</a>
                    {{else}}
                    {{#if isCancelled}}
                    <a class=" " style="height:5rem; width:2rem; color:red; border-radius:10px">Cancelled</a>
                    {{else}}
                    <a data-url="{{id}}" class="btn order-cancel-btn">
                        Cancel Order
                    </a>
                    <a data-url="{{id}}" class="btn order-deliver">
                        Order Delivered
                    </a>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
            <br>

            {{/each}}
        </div>
    </section> --}}


    <div class="p-5" style="margin-left:22rem; margin-top:7rem; background:rgb(235, 235, 235); border-radius:2px;">

        <table id="data-table" class="table table-striped" style="width:30%;">
            <thead>
                <tr>
                    <th>PRODUCT VIEW</th>
                    <th>ADDRESS</th>
                    <th>ORDER STATUS</th>
                    <th>PAYMENT METHOD</th>
                    <th>TOTAL AMOUNT</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each order}}
                <tr>
                    <td><pclass=" product-view">{{orderItems.length}} items Ordered</p></td>
                    <td> ADDRESS: <p>{{shippingInfo.houseName}}</p>
                        PHONE: <p>{{shippingInfo.phone}}</p>
                        PINCODE: <p> {{shippingInfo.postalCode}}</p>
                        COUNTRY: <p>{{shippingInfo.city}},{{shippingInfo.state}} , {{shippingInfo.coutry}},
                            ordered time:{{createdAt}}
                        </p>
                    </td>
                    <td>
                        <div class="order-payment-mode">
                            {{#if isRefundStatus}}
                            <p>Refund Successfull<p>
                            {{/if}}
                            {{#if isReturnStatus}}
                            {{#if (eq isRefundStatus false)}}
                            <p>Return Successfull</p>
                            {{else}}
                            {{/if}}
                            {{else}}
                            {{#if isReturn}}
                            <p>Return submitted</p>
                            {{else}}
                            {{#if isCancelled}}
                            <p>Cancelled</p>
                            {{else}}
                            {{#if isDelivered}}
                            <p>Delivered Successfully</p>
                            {{else}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </div>
                    </td>
                    <td>
                        <div class="order-payment-status">

                            <h4>{{paymentMode}}</h4>
                        </div>
                    </td>
                    <td>
                        <div class="order-total">
                            <h4>RS.{{totalAmount}}/-</h4>
                        </div>
                    </td>
                    <td>
                        <div class="userorder-container">
                            {{#if isRefundStatus}}
                            <p href="">Refund Successfull</p>
                            {{/if}}
                            {{#if isReturnStatus}}
                            {{#if (eq isRefundStatus false)}}
                            <a href="">Return Successfull</a>
                            <a data-url="{{id}}" class="btn btnnn  order-approve-refund-btn " id="deliverButton">Approve Refund</a> 
                            {{else}}
                            {{/if}}
                            {{else}}
                            {{#if isReturn}}
                            <p >Return submitted</p>
                             <a data-url="{{id}}" class="btn btnnn order-approve-return-btn " id="deliverButton">Approve Return</a> </a>
                            {{else}}
                            {{#if isCancelled}}
                            <p>Cancelled</p>
                            {{else}}
                            {{#if isDelivered}}
                            <p>Delivered Successfully</p>
                            {{else}}
                            {{#if (eq isDelivered false)}}
                            {{#if (eq isRefundStatus false)}}
                            <a data-url="{{id}}" class="btn btnnn order-deliver-btn " id="deliverButton">Deliver Order </a>
                            {{else}}
                            {{/if}}
                            {{else}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}

                            {{!-- {{#if isCancelled}}
                            <a class=" " style="height:5rem; width:2rem; color:red; border-radius:10px">Cancelled</a>
                            {{else}}
                            <a data-url="{{id}}" class="btn order-cancel-btn"> Cancel Order</a>
                            {{/if}}
                        </div> --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</div>

<script src="/public/javascript/admin-order.js"></script>
{{> datatable}}