<link rel="stylesheet" href="/public/stylesheets/admin-order.css">

<div class="main-container" style="height:100vh">
    <aside class="aside" style="position: fixed;  padding-top:5rem;">
        <a href="/admin/admin-dash" class="admin-dash p-5"><i class="fa-solid fa-table-columns"></i>dashboard</a>
        <a href="/admin/category" class="admin-dash p-5"><i class="fa-solid fa-user"></i>categories</a>
        <a href="/admin/products" class="admin-dash p-5"><i class="fa-solid fa-bag-shopping"></i>products</a>
        <a href="" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip"></i></i>coupons</a>
        <a href="/admin/admin-order" class="admin-dash p-5"><i class="fa-solid fa-cart-flatbed-suitcase"></i>orders</a>
        <a href="/admin/admin-user" class="admin-dash p-5"><i class="fa-solid fa-users"></i>users</a>
        <a href="/admin/logout" class="logout-button">logout</a>
    </aside>




    <section class="userorder-container mt-5" id="order">
        <h1 style="display: flex; justify-content:center; align-items:center; color: #8AAAE5">MY ORDERS</h1><br>
        <hr>
        <div class="one">
            {{#each order}}
            ORDERED TIME: <h4 class="date">{{createdAt}}</h4>
            <div class="my-details-order">
                <div class="order-shipping-address">
                    ADDRESS: <h4>{{shippingInfo.houseName}}</h4>
                    PHONE: <h4>{{shippingInfo.phone}}</h4>
                    PINCODE: <h4> {{shippingInfo.postalCode}}</h4>
                    COUNTRY: <h4>{{shippingInfo.city}},{{shippingInfo.state}} , {{shippingInfo.coutry}}</h4>
                </div>
                <div class="order-payment-mode">
                    ORDER STATUS:
                    {{#if isReturnStatus}}
                    <h4>Returned</h4>
                    {{else}}
                    {{#if isDelivered}}
                    <h4>Delivered</h4>
                    {{else}}
                    {{#if isCancelled}}
                    <h4>Cancelled</h4>
                    {{else}}
                    <h4>Processing</h4>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                </div>
                <div class="order-payment-status">
                    PAYMENT METHOD:
                    <h4>{{paymentMode}}</h4>
                </div>
                <div class="order-total">
                    TOTAL AMOUNT:
                    <h4>RS.{{totalAmount}}/-</h4>
                </div>
                {{#if isReturn}}
                 <div class="order-return">
                    <a class="btn btn-warning approve-return success" data-url="{{id}}">Approve Return</a>
                </div>
                 <div class="order-refund mt-2">
                    <a class="btn btn-danger decline-return success" data-url="{{id}}">Decline Return</a>
                </div>
                {{#if isReturnStatus}}
                 <strong style="color: red;">ReturnSuccessfull</strong><br>
                  <div class="order-return">
                    <a class="btn btn-warning approve-refund success" data-url="{{id}}">Approve Refund</a>
                </div> 
                 {{#if isRefundStatus}}
                  <strong style="color: red;">RefundSuccessfull</strong>
               {{else}}
               
               
               {{/if}}
               {{else}}
               
                {{/if}}
                {{/if}}
                <div class="order-cancel">
                    {{#if isDelivered }}
                    <a class="success">Delivered</a>
                    {{else}}
                    {{#if isCancelled}}
                    <a class=" " style="height:5rem; width:2rem; color:red; border-radius:10px">Cancelled</a>
                    {{else}}
                    <a data-url="{{id}}" class="btn order-cancel-btn">
                        Cancel Order
                    </a>
                    <a data-url="{{id}}" class="btn order-deliver">
                        Order Delivered
                    </a>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
            <br>

            {{/each}}
        </div>
    </section>

</div>

<script src="/public/javascript/admin-order.js"></script>