
{{> admin-nav}}
<link rel="stylesheet" href="/public/stylesheets/admin-dash.css">

<div class="main-container">
<div class="main-container log">
    <aside class="aside " style="position: fixed; margin: top 5rem; background:rgb(246, 246, 246)">
        <a href="/admin/admin-dash" class="admin-dash p-5 mt-5"><i class="fa-sharp fa-solid fa-table-columns"> &nbsp; </i> Dashboard</a>
        <a href="/admin/category" class="admin-dash p-5"><i class="fa-solid fa-user">&nbsp;  </i> Category</a>
        <a href="/admin/products" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-bag-shopping">&nbsp; </i>Products</a>
        <a href="/admin/coupons" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip">&nbsp;  </i>Coupons</a>
        <a href="/admin/admin-order" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-calendar">&nbsp;  </i>Orders</a>
        <a href="/admin/admin-user" class="admin-dash p-5"><i class="fa-solid fa-users"> &nbsp; </i>Users</a>
        <a href="/admin/banner" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip"> &nbsp; </i>Banners</a>
        <a href="/admin/logout" class="logout-button logout" style="background: rgb(238, 224, 224); color:red"><i class="fa-solid fa-power-off"></i>Logout</a>
    </aside>
</div>
<section class="container " style="padding-top:5rem; margin-left:22rem;">
  <h1 style="margin-left: 40rem;">USERS</h1><hr>
    <div class="row">
      <div class="col-12 table-overflow">
        <table id="datatable" class="table table-striped">
          <thead>
            <tr>
              <th>Sno:</th>
              <th>firstname</th>
              <th>lastname</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
             {{#each users}}
              <tr>
              <th><i class="fa-solid fa-users"></i></th>
              <th>{{firstname}}</th>
              <th>{{lastname}}</th>
              <th>{{Email}}</th>
              <th>{{phone}}</th>
              {{#if Action}}
              <th><button class="btn block green" id="unblock-button" data-url={{_id}}  >block</button></th>  
              {{else}}
              <th><button class="btn block red" id="unblock-button" data-url={{_id}}  >unblock</button></th>  
            </tr>
            {{/if}}
            {{/each}}
          </tbody>
          <tfoot>
         </tfoot>
        </table>
      </div>
    </div>
  </section>
</div>

<script src="/javascript/admin.js"></script>
<script src="/public/javascript/logout.js"></script>

{{!-- <div class="footer" style="background-color: rgb(211, 209, 209); display:flex; justify-content:center">copyright@2023</div> --}}


