{{> admin-nav}}
<link rel="stylesheet" href="/public/stylesheets/admin-dash.css">

<div class="main-container log">
    <aside class="aside " style="position: fixed; margin: top 5rem; background:rgb(246, 246, 246)">
        <a href="/admin/admin-dash" class="admin-dash p-5 mt-5"><i class="fa-sharp fa-solid fa-table-columns"> &nbsp; </i> Dashboard</a>
        <a href="/admin/category" class="admin-dash p-5"><i class="fa-solid fa-user">&nbsp;  </i> Category</a>
        <a href="/admin/products" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-bag-shopping">&nbsp; </i>Products</a>
        <a href="/admin/coupons" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip">&nbsp;  </i>Coupons</a>
        <a href="/admin/admin-order" class="admin-dash p-5"><i class="fa-sharp fa-solid fa-calendar">&nbsp;  </i>Orders</a>
        <a href="/admin/admin-user" class="admin-dash p-5"><i class="fa-solid fa-users"> &nbsp; </i>Users</a>
        <a href="/admin/banner" class="admin-dash p-5"><i class="fa-solid fa-id-card-clip"> &nbsp; </i>Banners</a>
        <a href="/admin/logout" class="logout-button logout" style="background: rgb(238, 224, 224); color:red"><i class="fa-solid fa-power-off"></i>Logout</a>
    </aside>
</div>

<link rel="stylesheet" href="/stylesheets/banner.css">
<div class="main-banner" style="margin-left:20rem">
<div class="banner-head" style="background: white; color:black;">
    <h1>Banners</h1>
    <a class="btn add" href="/admin/add-banner"> Add banner</a>
</div>
<div class="container vh-100% mx-auto" style="margin-top:0rem">
    <table class="table align-middle text-center mt-4" id="datatable" style="">
        <thead class="bg-dark text-light">
            <tr>
                <th style="width: 40.66%; padding-left:10rem;">Banner Name</th>
                <th style="width: 35.66%">Caption</th>
                <th style="width: 10.66%">Image</th>
                {{!-- <th style="width: 16.66%">Set Default</th>
                <th style="width: 16.66%">Action</th> --}}
            </tr>
        </thead>
        {{#each banner}}
        <tbody>

            <tr>
                <td>
                    <p class="mx-0 mb-0 d-flex justify-content-start ">{{this.name}}</p>
                </td>

                <td>
                    <p class="mx-0 mb-0 d-flex justify-content-start ">{{this.caption}}</p>
                </td>

                <td>
                    <div class="d-flex align-items-center">
                        <img src="/public/uploads/{{this.image.[0]}}" alt="image"
                            style="width: 45px; height: 45px; display: block; margin-left: auto; margin-right: auto;"
                            class="mx-0 mb-0 d-flex justify-content-start rounded" accept="image/*" />
                    </div>
                </td>
                {{!-- <td>
                    <p class="mx-0 mb-0 d-flex justify-content-start ">{{setDefault}}</p>
                </td>
                <td>
                    <p class="mx-0 mb-0 d-flex justify-content-start ">{{Delete}}</p>
                </td> --}}
                {{!-- <td class="text-center ">
                    <ul class="mx-4 d-flex flex-row" style="list-style-type: none;">
                        <li class="px-lg-3">
                            <a class="mx-0 mb-0 d-flex justify-content-start btn btn-success "
                                href="/admin/edit/product/{{_id}}">Edit</a>
                        </li>
                        <li class="px-lg-3">
                            <a class="mx-0 mb-0 d-flex justify-content-start btn btn-danger delete-prod"
                                data-url={{_id}}>Delete</a>
                        </li>
                    </ul>
                </td> --}}
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
</div>

<script src="/public/javascript/logout.js"></script>