<link rel="stylesheet" href="/public/stylesheets/cart.css">
{{> user-nav}}
<section class="">
    <div class="container h-100" ">
       

        <div class=" row d-flex h-auto"">
        {{!-- <p><span class="h2">Shopping Cart </span><span class="h4">(Total items: 2)</span></p> --}}

        <div class="col  cart-items-container" style="padding-top:5rem;">
            {{#each cartItems}}
            <div class="card-body ">

                <div class="row d-flex justify-content-between  "
                    style="background-color:rgb(212, 214, 214) ; border-radius:10px; height:13rem">
                    <div class="col-md-2  " >
                        <img src="{{id.image.[0]}}" class="img-fluid pt-4" alt="product images" style="height:11rem; width:12rem">
                    </div>
                    <div class="col-md-2   pt-5">
                        <div>
                            <p class="lead text-muted mb-4  pb-2">Name:{{id.name}}</p>
                            <p class="lead fw-normal mb-0">RS.{{id.price}}</p>
                        </div>
                    </div>

                    <div class="col-md-2 " class="pb-3">
                        <div class="card-quantity-details  pt-0">
                            <input  type="button" data-url="{{id._id}}"
                                class="quantity-minus  pr-4"
                                style="background:rgb(204, 204, 204); width:3rem; height:15px; display:flex; justify-content:center; align-items:center; margin-top:3rem;"
                                value="-">


                            <h4 class="quantity pl-3" id="quant">{{quantity}}</h4>

                            <input type="button" data-url="{{id._id}}"
                                class="quantity-plus pr-4"
                                style="background:rgb(204, 204, 204); width:3rem; height:15px; display:flex; justify-content:center; align-items:center;"
                                value="+">

                        </div>

                    </div>
                    <div class="col-md-2 ">
                        <div class="col-md-2  ">
                            <div>
                                <p class="small text-muted mb-4 pb-2 pt-5 pl-5"> Price</p>
                                <p class="lead fw-normal mb-0">RS.{{id.price}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 delete pl-5" style="padding-top:5rem;">
                        <a style="color:red; cursor:pointer;">
                            <i data-url="{{id._id}}" class="fas fa-trash-alt delete "></i>
                        </a>
                    </div>
                    <div>

                    </div>

                </div>
            </div>

            {{!--
        </div> --}}
        {{/each}}
        <div class="card  " style="width: 110rem; height:11rem; postion:fixed;">
            <div class="card-body">
                <div class="float-end">
                    <p class="d-flex justify-content-left align-items-left">
                        <a class="bold  me-2 " href="/order"
                            style="background: rgb(191, 190, 190); height:4rem; width:20rem; display:flex; justify-content:center; align-items:center; border-radius:12px; color:white; text-decoration:none;">Go
                            To CheckOut</a>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <div class="float-end pt-2">
                    <p class="d-flex justify-content-left align-items-left">
                        <span class="bold text-muted me-2">Cart Total Price:</span>&nbsp; <span>Rs:
                            {{totalPrice}}/-</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex " style="position:fixed;  padding-top:10rem; margin-left:25rem; ">
            <a type="button" class="btn  btn-lg  "
                style="background: rgb(239, 239, 239); width:55rem; border-width:1px; border-color:black;  "
                href="/user/products">Continue shopping</a>
        </div>
    </div>

    </div>

</section>



<script src="/public/javascript/cart.js"></script>