<link rel="stylesheet" href="/public/stylesheets/user-profile.css">
{{> user-nav}}
<div class="flex">
    <div class="main">
        <section class=" ">
            <p style="display: flex; justify-content:center; align-items:center; text-decoration:underline">User Profile
            </p>
            <div class="add" style="color:rgb(0, 0, 0);">
                {{#each user}}
                NAME: <p>{{firstname}}{{lastname}}</p>
                EMAIL: <p>{{Email}}</p>
                PHONE: <p>{{phone}}</p>
                {{/each}}
            </div>
        </section>
        <div class="buttons log">
            <div class="btn button ">
                <a href="/order/user-order">My Orders</a>
            </div>
            <div class="btn button2 ">
                <a href="/user/edit-profile">Change Profile </a>
            </div>
            <div class="btn button2 ">
                <a href="/user/forgot-pass">Change Password</a>
            </div>
            <div class="btn button2 logout">
                <a href="/user/logout">LogOut</a>
            </div>
        </div>
    </div>

    {{!-- <section class="userorder-container mt-5" id="order">
        <h1 style="display: flex; justify-content:center; align-items:center; color: #8AAAE5">MY ORDERS</h1><br>
        <hr>
        <div class="one">
            {{#each order}}
            ORDERED TIME: <h4 class="date">{{createdAt}}</h4>
            <div class="my-details-order">
                <div class="order-shipping-address">
                    ADDRESS: <h4>{{shippingInfo.houseName}}</h4>
                    PHONE: <h4>{{shippingInfo.phone}}</h4>
                    PINCODE: <h4> {{shippingInfo.postalCode}}</h4>
                    COUNTRY: <h4>{{shippingInfo.city}},{{shippingInfo.state}} , {{shippingInfo.coutry}}</h4>
                </div>
                <div class="order-payment-mode">
                    ORDER STATUS:
                    {{#if isReturn}}
                    <h4>Return Processing</h4>
                    {{else}}
                    {{#if isDelivered}}
                    <h4>delivered</h4>
                    {{else}}
                    {{#if isCancelled}}
                    <h4>Cancelled</h4>
                    {{else}}
                    <h4>Processing</h4>
                    {{/if}}
                    {{/if}}
                    {{/if}}
                </div>
                <div class="order-payment-status">
                    PAYMENT METHOD:
                    <h4>{{paymentMode}}</h4>
                </div>
                <div class="order-total">
                    TOTAL AMOUNT:
                    <h4>RS.{{totalAmount}}/-</h4>
                </div>
                {{#if isDelivered}}
                <div class="order-cancel">
                    <a class="success">Order Completed</a>
                </div>
                {{#if isReturn}}
                <div class="order-cancel">
                    <a class="success text-danger">Return Processing</a>
                </div>
                {{else}}
                <a data-url="{{id}}" class="btn btn-danger order-return mt-2 ">
                    Return Order
                </a>
                {{/if}}
                {{#if isRefundStatus}}
                <div class="order-cancel">
                    <a class="success text-danger">Return Successfull</a>
                </div>
                <div class="order-cancel">
                    <a class="success text-danger">Refund Successfull</a>
                </div>
                {{/if}}
                {{else}}
                <div class="order-cancel">
                    {{#if isDelivered}}
                    <a class="success">Processed</a>
                    {{else}}
                    {{#if isCancelled}}
                    <a class=" " style="height:5rem; width:2rem; color:red; border-radius:10px">Cancelled</a>
                    {{else}}
                    <a data-url="{{id}}" class="btn order-cancel-btn">
                        Cancel Order
                    </a>
                    {{/if}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
            <br>
            {{/each}}
        </div>
    </section> --}}
    <div class="p-5"
        style="margin-left:28rem; margin-top:3rem; height:100vh; background:rgb(235, 235, 235); border-radius:2px;">

        <table id="data-table" class="table table-striped" style="width:110rem; color:black; ">
            <thead>
                <tr>
                    <th>VIEW PRODUCT</th>
                    <th>ADDRESS</th>
                    <th>ORDER STATUS</th>
                    <th>PAYMENT METHOD</th>
                    <th>TOTAL AMOUNT</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {{#each order}}
                <tr>

                    <td>
                        {{!-- <a href="/user/order-product-view-page" class="btn btnnn">view product</a> --}}
                        <p>{{orderItems.length}} items Ordered</p>
                    </td>
                    <td> ADDRESS: <p>{{shippingInfo.houseName}}</p>
                        PHONE: <p>{{shippingInfo.phone}}</p>
                        PINCODE: <p> {{shippingInfo.postalCode}}</p>
                        COUNTRY: <p>{{shippingInfo.city}},{{shippingInfo.state}} , {{shippingInfo.coutry}}</p>
                        ORDERD TIME:&nbsp;{{newDAte}}
                    </td>
                    <td>
                        <div class="order-payment-mode">
                            
                            {{#if isRefundStatus}}
                            <a href="">Refund Successfull</a>
                            {{/if}}
                            {{#if isReturnStatus}}
                            {{#if (eq isRefundStatus false)}}
                            <a href="">Return Successfull</a>
                            {{else}}
                            {{/if}}
                            {{else}}
                            {{#if isReturn}}
                            <a href="">Return submitted</a>
                            {{else}}
                            {{#if isCancelled}}
                            <a href="#">Cancelled</a>
                            {{else}}
                            {{#if isDelivered}}
                            <a class="success">Delivered Successfully</a>
                            {{else}}
                            {{#if (eq isDelivered false)}}
                            <a class="success">Order Processed</a>
                            {{else}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </div>
                    </td>
                    <td>
                        <div class="order-payment-status">

                            <h4>{{paymentMode}}</h4>
                        </div>
                    </td>
                    <td>
                        <div class="order-total">
                            <h4>RS.{{totalAmount}}/-</h4>
                        </div>
                    </td>
                    <td>
                        <div class="user-cancel-order">
                            
                            {{#if isRefundStatus}}
                            <a href="">Refund Successfull</a>
                            {{/if}}
                            {{#if isReturnStatus}}
                            {{#if (eq isRefundStatus false)}}
                            <a href="">Return Successfull</a>
                            {{else}}
                            {{/if}}

                            {{else}}
                            {{#if isReturn}}
                            <a href="">Return submitted</a>
                            {{else}}
                            {{#if isDelivered}}
                            <a class="success">Delivered Successfully</a>
                            <a data-url="{{id}}" class="btn btnnn  order-return-btn">Return Order</a>
                            {{else}}
                            {{#if (eq isCancelled false)}}
                            {{#if (eq isRefundStatus false)}}
                            <a data-url="{{id}}" class="btn  btnnn order-cancel-btn" id="cancelButton">Cancel Order </a>
                            {{else}}
                            {{/if}}
                            {{else}}
                            {{#if isCancelled}}
                            <a href="#">Cancelled</a>
                            {{else}}
                           
                            
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}

                            {{!-- {{#if isCancelled}}
                            <a class=" " style="height:5rem; width:2rem; color:red; border-radius:10px">Cancelled</a>
                            {{else}}
                            <a data-url="{{id}}" class="btn order-cancel-btn"> Cancel Order</a>
                            {{/if}}
                        </div> --}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>



</div>
<script src="/javascript/order.js"></script>
<script src="/javascript/logout.js"></script>
{{> datatable}}