<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="/public/stylesheets/user-Singleproduct.css">


<div class="container  mb-5">
    <div class="row d-flex justify-content-center" >
        <div class="col-md-10" style=" padding-top:7rem;" >
            <div class="card "  style="width:60rem; height:52rem; background-color:rgb(238, 238, 238); margin-left:12rem;">
                <div class="row d-flex justify-content-center align-items-right">
                    <div class="col-md-6">
                        <div class="images">
                            <div class="d-flex justify-content-center align-items-left" > 
                                <img id="thumb-image" src="{{product.image.[0]}}"  data-imagezoom="true" width="250"  /> </div>
                            <div class="thumbnail text-center" id="imgview">
                                 <img onclick="change_image(event)" src="{{product.image.[1]}}" width="70">
                                 <img onclick="change_image(event)" src="{{product.image.[2]}}" width="70">  
                                 <img onclick="change_image(event)" src="{{product.image.[3]}}" width="70">
                                  <img onclick="change_image(event)" src="{{product.image.[4]}}" width="70">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10rem; padding-left:5rem;">
                        <div class="product">
                            <div class="d-flex justify-content-around align-items-center ">
                              <a class="d-flex justify-content-around align-items-center" href="/user/products"> <i class="fa fa-long-arrow-left"></i> <span  class="ml-1">Back</span> </a> 
                            </div>
                                <h5 class="text-uppercase  d-flex justify-content-around align-items-center">{{product.name}}</h5>
                                <div class="d-flex justify-content-around align-items-center"> <span class="act-price">RS.{{product.price}}</span>
                                </div>
                            </div>
                            <div class="about cart mt-4 d-flex justify-content-around align-items-center"></div>
                            <div class="cart mt-4 align-items-center"> <a class="btn btn text-uppercase mr-2 px-4" style="background:lightblue;" href="/cart/{{product.id}}" >Add to cart</a> </div>
                            <div class="cart mt-4 align-items-center"> <a class="btn btn text-uppercase buynow mr-2 px-4">Buy Now</a>  </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/public/javascript/imagezoom.js"></script>

<script>
  function change_image(event){
    document.getElementById('thumb-image').src="{{product.image.[1]}}"
    document.getElementById('thumb-image').src="{{product.image.[2]}}"
    document.getElementById('thumb-image').src="{{product.image.[3]}}"
  }
</script>